body {
    color: cyan;
    background-color: violet;
    font-family: "Comic Sans MS", "Comic Sans", "Courier";
    font-size: 20px;
    margin: none;
    padding: 1em;
    height: 100%;

    /* Produce jaggies on text for 00s web feel */
    text-shadow: 0 0 0px, 0 0 0px, 0 0 0px, 0 0 0px, 0 0 0px, 0 0 0px, 0 0 0px,
        0 0 0px;

    /* Disable font smoothing for optimal viewing experience */
    font-smooth: never !important;
    -webkit-font-smoothing: none !important;
    -webkit-font-smooth: never !important;

    background-image: url("images/starblue3.gif");
}

/*  ----- Navigation ----- Override text links for navigation only.  */
nav {
    font-family: "Consolas", monospace;
    background-color: none;
    text-transform: uppercase;
}
nav a {
    margin: 10px;
    background-clip: text;
    font-size: 30px;
    font-weight: 700;
    background: linear-gradient(
        90deg,
        red,
        orange,
        yellow,
        green,
        blue,
        purple
    );
    -webkit-background-clip: text;
}
nav a::before,
nav a::after {
    content: " ▣ ";
    text-decoration: none;
}

nav a:hover {
    color: transparent;
    font-size: 50px;
    font-weight: 700;
    border: 5px dashed;
    transition: 0.5s ease-in-out;
}

/*  ----- Page layout blocks -----  */
#content_wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 80vw;
    height: 100%;
    max-width: 1000px;
}

main {
    width: 100%;
}

#add_page_subhead,
#home_lander {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
}

footer {
    font-family: "Brush Script MT", "Brush Script Std", cursive;
    font-size: 30px;
    text-align: center;
    width: 50%;
    color: #f98305;
    -webkit-text-stroke: 1px rgb(21, 24, 15);
    position: absolute;
    bottom: 0;
}

/*  -----  Typography  ----- */

header p {
    font-family: "Consolas", monospace;
    font-size: 24px;
    font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Impact";
} /* Define consistant font family.*/
h1 {
    font-size: 7rem;
    margin: 0.1em;
    width: max-content;
}
h2 {
    color: yellow;
    font-size: 3rem;
}

/*  ----- Table ----- */
table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    color: darkviolet;
}

tr {
    border: 1px dotted rgb(238, 0, 255);
}

th {
    font-family: "Consolas", monospace;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 26px;
    text-align: left;
}
th.right,
td.right {
    text-align: right;
}
th.center,
td.center {
    text-align: center;
}

/*  ----- Form ----- */
form,
input,
select,
button {
    font-family: "Comic Sans MS", "Comic Sans", "Courier";
    font-size: 20px;
}
label {
    display: block;
}
#submit {
    display: inline;
    float: right;
}
